{% extends "base.html" %}
{% load static %}
<meta charset="utf-8">
{% block header %}<title>Untitled Document</title>{% endblock header %}

{% block body %}
  <link rel="stylesheet" href={% static "css/index.css" %}>
<h1>{{ subscriber.email }}</h1>
  {% for tr in traker %}

    <h3>ID : {{ tr.id}}</h3>      
    <h3>Keyword : {{ tr.keyword}}</h3>      
    <h3>Title : {{ tr.title }}</h3>      
    <h3>Publish Date : {{ tr.news_published_date}}</h3>
    <h3>Update Time : {{ tr.time_updated}}</h3>
    <h3>Update Agen : {{ tr.update_news_time}}</h3> 
    <a href="{{ tr.link }}">{{ tr.link }}</a>
    <hr>


    {% endfor %}
  <br>
  <a href="{% url 'tr' %}">Create News Traker</a>
  <br>
  <a href="{% url 'del' %}">Delete</a>
  <br>
  <a href="{% url 'logout' %}">Logout</a>

{% endblock body %}
