
{% extends "base.html" %}
{% load static %}

{% block header %}{% endblock header %}

{% block body %}


    <form action="{% url 'ser' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">

    </form>

    {% if newslist %}

        {% for news in newslist %}

            <h3>ID : {{ news.id}}</h3>      
            <h3>Keyword : {{ news.keyword}}</h3>      
            <h3>Title : {{ news.title }}</h3>      
            <h3>Publish Date : {{ news.news_published_date}}</h3>
            <h3>Update Time : {{ news.time_updated}}</h3>
            <h3>Update Agen : {{ news.update_news_time}}</h3> 
            <a href="{{ news.link }}">{{ news.link }}</a>
            <hr>
        
        {% endfor %}
    
    {% endif %}

{% endblock body %}